$main-blue: #253884; 

$secondary-blue: #6977AD;
$tertiary-blue: #E2EFF9;
$main-green: #269024;
$main-yellow: #FFDC26; 
$grey-color: #ECECEB;
$dark-blue: #102060;
$base-boder-color: #4a639b;

// Action Button
$action-button-background: #41B43F;


$control-border: #767676; 
$home-package-height-xsmall: 350px;
$home-package-height-small: 320px;
$home-package-height-large: 550px;
$home-package-height-xlarge: 440px;
$home-package-height-xxlarge: 520px;


$intro-container-height-mobile: 730px;
$intro-container-height-medium: 355px;
$intro-container-height-large: 420px;
$intro-container-height-xlarge:480px;
$intro-container-height-xxlarge: 500px;

$animate-toggle-package-mobile-speed: 0.6s;


$font-small: 12px;
$font-regular: 14px;
$font-regular2: 16px;
$font-medium: 18px;
$font-medium2: 21px;
$font-large: 24px;
$font-xlarge: 28px;
$font-xxlarge: 36px;
$font-xxxlarge: 40px;
$font-xxxlarge2: 43px;

$border-radius-nomal: 12px;